<a href="https://colab.research.google.com/github/Sugirjan/CreditApprovalPrediction/blob/master/NN_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
from google.colab import files

drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
df = pd.read_csv('/content/drive/My Drive/NNAssignment/cc_approval.csv', header=None);
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [3]:
df.columns=['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','A16']
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [4]:
null_cols = ['A1','A2','A4','A5','A6','A7','A14']
for col in null_cols:
  df[col]=df[col].replace('?',np.NaN)
  df[col].fillna(df[col].value_counts().index[0],inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    object
 1   A2      690 non-null    object
 2   A3      690 non-null    float64
 3   A4      690 non-null    object
 4   A5      690 non-null    object
 5   A6      690 non-null    object
 6   A7      690 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    object
 14  A15     690 non-null    int64
 15  A16     690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB

In [5]:
df.A2 = pd.to_numeric(df["A2"], downcast="float")
df.A14 = pd.to_numeric(df["A14"], downcast="float")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      690 non-null    object
 1   A2      690 non-null    float32
 2   A3      690 non-null    float64
 3   A4      690 non-null    object
 4   A5      690 non-null    object
 5   A6      690 non-null    object
 6   A7      690 non-null    object
 7   A8      690 non-null    float64
 8   A9      690 non-null    object
 9   A10     690 non-null    object
 10  A11     690 non-null    int64
 11  A12     690 non-null    object
 12  A13     690 non-null    object
 13  A14     690 non-null    float32
 14  A15     690 non-null    int64
 15  A16     690 non-null    object
dtypes: float32(2), float64(2), int64(2), object(10)
memory usage: 81.0+ KB

In [6]:
cat_cols = []
cols = df.columns.tolist()
for col in cols:
	if df[col].dtype == 'object' and not col=='A16':
		cat_cols.append(col)

data = pd.get_dummies(df, columns=cat_cols)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 47 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A2      690 non-null    float32
 1   A3      690 non-null    float64
 2   A8      690 non-null    float64
 3   A11     690 non-null    int64
 4   A14     690 non-null    float32
 5   A15     690 non-null    int64
 6   A16     690 non-null    object
 7   A1_a    690 non-null    uint8
 8   A1_b    690 non-null    uint8
 9   A4_l    690 non-null    uint8
 10  A4_u    690 non-null    uint8
 11  A4_y    690 non-null    uint8
 12  A5_g    690 non-null    uint8
 13  A5_gg   690 non-null    uint8
 14  A5_p    690 non-null    uint8
 15  A6_aa   690 non-null    uint8
 16  A6_c    690 non-null    uint8
 17  A6_cc   690 non-null    uint8
 18  A6_d    690 non-null    uint8
 19  A6_e    690 non-null    uint8
 20  A6_ff   690 non-null    uint8
 21  A6_i    690 non-null    uint8
 22  A6_j    690 non-null    uint8
 23  A6_k    690 non-null    uint8
 24  A6_m    690 non-null    uint8
 25  A6_q    690 non-null    uint8
 26  A6_r    690 non-null    uint8
 27  A6_w    690 non-null    uint8
 28  A6_x    690 non-null    uint8
 29  A7_bb   690 non-null    uint8
 30  A7_dd   690 non-null    uint8
 31  A7_ff   690 non-null    uint8
 32  A7_h    690 non-null    uint8
 33  A7_j    690 non-null    uint8
 34  A7_n    690 non-null    uint8
 35  A7_o    690 non-null    uint8
 36  A7_v    690 non-null    uint8
 37  A7_z    690 non-null    uint8
 38  A9_f    690 non-null    uint8
 39  A9_t    690 non-null    uint8
 40  A10_f   690 non-null    uint8
 41  A10_t   690 non-null    uint8
 42  A12_f   690 non-null    uint8
 43  A12_t   690 non-null    uint8
 44  A13_g   690 non-null    uint8
 45  A13_p   690 non-null    uint8
 46  A13_s   690 non-null    uint8
dtypes: float32(2), float64(2), int64(2), object(1), uint8(40)
memory usage: 59.4+ KB

In [7]:
A16 = {'+':1,'-':0}
data.A16 = [A16[status] for status in data.A16]

In [8]:
data.head()

          A2     A3    A8  A11    A14  ...  A12_f  A12_t  A13_g  A13_p  A13_s
0  30.830000  0.000  1.25    1  202.0  ...      1      0      1      0      0
1  58.669998  4.460  3.04    6   43.0  ...      1      0      1      0      0
2  24.500000  0.500  1.50    0  280.0  ...      1      0      1      0      0
3  27.830000  1.540  3.75    5  100.0  ...      0      1      1      0      0
4  20.170000  5.625  1.71    0  120.0  ...      1      0      0      0      1

[5 rows x 47 columns]

In [9]:
import numpy 
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

seed = 5
numpy.random.seed(seed)

Using TensorFlow backend.

In [10]:
from keras import backend as K

def f1(y_true, y_pred):
  def recall(y_true, y_pred):
    """Recall metric.
    Only computes a batch-wise average of recall. Computes the recall, a metric for multi-label classification of how many relevant items are selected.
    """
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

  def precision(y_true, y_pred):
    """Precision metric.
    Only computes a batch-wise average of precision. Computes the precision, a metric for multi-label classification of how many selected items are relevant.
    """
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision
  precision = precision(y_true, y_pred)
  recall = recall(y_true, y_pred)
  return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [11]:
# Baseline model for the neural network. We choose a hidden layer of 10 neurons. The lesser number of neurons helps to eliminate the redundancies in the data and select 
# the more important features.
def create_baseline(activation1 = 'relu', activation2 = 'sigmoid', no_features = 46, no_neurons = 46):
    # create model
  model = Sequential()
  model.add(Dense(no_neurons, input_dim=no_features, kernel_initializer='normal', activation=activation1))
  model.add(Dense(1, kernel_initializer='normal', activation=activation2))

  # Compile model. We use the the logarithmic loss function, and the Adam gradient optimizer.
  model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
  return model

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
y = data.A16
X = data.copy().drop('A16', axis=1)

kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state= 5)

estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=create_baseline, epochs=100, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
results = cross_val_score(pipeline, X, y, cv=kfold)
print("Results: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Results: 82.75% (3.71%)

In [18]:
def create_baseline_params_redued_neurons():
  model = Sequential()
  model.add(Dense(23, input_dim=46, kernel_initializer='normal', activation='relu'))
  model.add(Dense(1, kernel_initializer='normal', activation='sigmoid'))
  model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
  return model

estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=create_baseline_params_redued_neurons, epochs=100, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
results = cross_val_score(pipeline, X, y, cv=kfold)
print("Results: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Results: 84.64% (2.35%)

In [19]:
def create_baseline_params_without_activation():
  model = Sequential()
  model.add(Dense(46, input_dim=46, kernel_initializer='normal'))
  model.add(Dense(1, kernel_initializer='normal', activation='relu'))
  model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
  return model

estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=create_baseline_params_without_activation, epochs=100, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
results = cross_val_score(pipeline, X, y, cv=kfold)
print("Results: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Results: 76.81% (4.78%)

In [20]:
def create_baseline_params_without_activation():
  model = Sequential()
  model.add(Dense(46, input_dim=46, kernel_initializer='normal'))
  model.add(Dense(1, kernel_initializer='normal', activation='sigmoid'))
  model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
  return model

estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=create_baseline_params_without_activation, epochs=100, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
results = cross_val_score(pipeline, X, y, cv=kfold)
print("Results: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Results: 84.78% (1.37%)

In [21]:
def create_baseline_params_without_activation():
  model = Sequential()
  model.add(Dense(46, input_dim=46, kernel_initializer='normal'))
  model.add(Dense(1, kernel_initializer='normal', activation='tanh'))
  model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])
  return model

estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=create_baseline_params_without_activation, epochs=100, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
results = cross_val_score(pipeline, X, y, cv=kfold)
print("Results: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Results: 52.46% (6.88%)